
<app-navbar></app-navbar>
<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .log1 {
    padding-top: 13%;
  }

  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;
  }

  .full-height {
    height: 100vh;
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    bclient-radius: 8px;
  }

  .btn {
    margin-right: 8px;
  }
</style>

<div class="row 
            full-height 
            centered" 
         style="background: url('assets/files/3.jpg') no-repeat center center;
          background-attachment: fixed;
           background-size: cover;">


  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body input-group-addon grad">
        <form name="userForm">
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold text-center">{{'Add Salary' | translate}}</h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold text-center">{{'Update Salary' | translate}}</h2>



          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message | translate}}
          </div>

          <div *ngIf="form.error && form.message != ''" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message | translate}}
          </div>





          <div class="form-group">
            <label><b>{{'Amount ' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i></div>
              </div>

              <input type="number" name="amount" [(ngModel)]="form.data.amount" class="form-control" 
              appMaxLengthNumber="50"
                    placeholder="{{'amount  ' | translate}}">
            </div>

            <span *ngIf="form.inputerror.amount != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.amount| translate}}</span>
          </div>




                        

              <div class="form-group">

            <label><b>{{'Employee' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
              </div>

              <select class="form-control" name="employeeId" [(ngModel)]="form.data.employeeId" aria-label="ngSelected">
                <option [ngValue]="" value="undefined">{{'Select employee' | translate}}</option>
                <option *ngFor="let obj of form.preload.employeeList" [value]="obj.key">{{obj.value}}</option>
              </select>

            </div>

            <span *ngIf="form.inputerror.employeeId != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.employeeId | translate}}</span>

          </div>



          <div class="form-group">

            <label><b>{{'Status' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
              </div>

              <select class="form-control" name="status" id="status" [(ngModel)]="form.data.status"
              style="cursor: pointer;">
              <option [ngValue]="" value="undefined">{{'Please select status' | translate }}</option>
              <option value="Active">{{'Active' | translate }} </option>
              <option value="Inactive">{{'Inactive' | translate }} </option>
            </select>

            </div>

          <span *ngIf="form.inputerror.status != null" class="alertRedColor" style=" color: red;">
            {{form.inputerror.status| translate}} </span>

          </div>











          <div class="form-group">
            <label><b>{{'Applied Date' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-table grey-text"></i></div>
              </div>

              <input type="date" [value]="form.data.appliedDate |date:'yyyy-MM-dd'" 
               (input)="form.data.appliedDate=parseDate($event.target.value)"  class="form-control form-control-sm" required />
            </div>

            <span *ngIf="form.inputerror.appliedDate != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.appliedDate | translate}}</span>
          </div>













     







          <div class="row pt-2 pb-3">
            <div class="col-md-3"></div>
            <div class="col-md-3 pt-2">
              <button *ngIf="!form.data.id>0" (click)="onUpload()" class="btn btn-success">{{'Save' | translate}}</button>
              <button *ngIf="form.data.id>0" (click)="onUpload()" class="btn btn-success">{{'Update' | translate}}</button>
            </div>
            <div class="col-md-3 pt-2">
              <a class="btn btn-warning" [routerLink]="['/salarylist']" style="text-decoration: none; color: white;">
                {{'salary List' | translate}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<app-footer></app-footer>
