<app-navbar></app-navbar>
<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .log1 {
    padding-top: 13%;
  }

  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;
  }

  .full-height {
    height: 100vh;
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .btn {
    margin-right: 8px;
  }
</style>

<div class="row 
            full-height 
            centered" 
         style="background: url('assets/files/3.jpg') no-repeat center center;
          background-attachment: fixed;
           background-size: cover;">


  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body input-group-addon grad">
        <form name="userForm">
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold text-center">{{'Add JOB' | translate}}</h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold text-center">{{'Update JOB' | translate}}</h2>



          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message | translate}}
          </div>

          <div *ngIf="form.error && form.message != ''" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message | translate}}
          </div>




          <div class="form-group">
            <label><b>{{'Status' | translate }}</b><span class="required-field"></span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
              </div>
              <select class="form-control" name="statusId" [(ngModel)]="form.data.statusId" aria-label="ngSelected">
                <option [ngValue]="" value="undefined">{{'Select status' | translate}}</option>
                <option *ngFor="let obj of form.preload.StatusList" [value]="obj.key">{{obj.value}}</option>
              </select>
            </div>
            <span *ngIf="form.inputerror.statusId != null" class="alertRedColor" style="color: red;">{{form.inputerror.statusId | translate}}</span>
          </div>



          <div class="form-group">
            <label><b>{{'Title' | translate }}</b><span class="required-field"></span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i></div>
              </div>
              <input type="text" name="title" [(ngModel)]="form.data.title" class="form-control"
              (ngModelChange)="form.data.title = $event.trim()"  appNoNumbers    maxlength="50"  
               placeholder="{{'Title' | translate}}">
            </div>
            <span *ngIf="form.inputerror.title != null" class="alertRedColor" style="color: red;">{{form.inputerror.title | translate}}</span>
          </div>


          <div class="form-group addrestext">
            <label><b>{{'Experience' | translate }}</b><span class="required-field"></span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-briefcase"></i> 
                </div>
              </div>
              <input type="text" name="experience" [(ngModel)]="form.data.experience" class="form-control" 
                     (ngModelChange)="form.data.experience = $event.trim()" maxlength="50"  
                     placeholder="{{'Experience' | translate}}" />
            </div>
            <span *ngIf="form.inputerror.experience != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.experience | translate}}
            </span>
          </div>
          


     



          <div class="form-group">
            <label><b>{{'Date OF Opening' | translate }}</b><span class="required-field"></span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-table grey-text"></i></div>
              </div>
              <input type="date" [value]="form.data.dateOfOpening | date:'yyyy-MM-dd'" (input)="form.data.dateOfOpening=parseDate($event.target.value)" class="form-control form-control-sm" required />
            </div>
            <span *ngIf="form.inputerror.dateOfOpening != null" class="alertRedColor" style="color: red;">{{form.inputerror.dateOfOpening | translate}}</span>
          </div>


          <div class="row pt-2 pb-3">
            <div class="col-md-3"></div>
            <div class="col-md-3 pt-2">
              <button *ngIf="!form.data.id>0" (click)="onUpload()" class="btn btn-success">{{'Save' | translate}}</button>
              <button *ngIf="form.data.id>0" (click)="onUpload()" class="btn btn-success">{{'Update' | translate}}</button>
            </div>
            <div class="col-md-3 pt-2">
              <a class="btn btn-warning" [routerLink]="['/joblist']" style="text-decoration: none; color: white;">{{'Job List' | translate}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<app-footer></app-footer>
