<app-navbar></app-navbar>
<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .log1 {
    padding-top: 13%;
  }

  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;
  }

  .full-height {
    height: 100vh;
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    bclient-radius: 8px;
  }

  .btn {
    margin-right: 8px;
  }
</style>

<div class="row 
            full-height 
            centered" style="background: url('assets/files/3.jpg') no-repeat center center;
          background-attachment: fixed;
           background-size: cover;">


  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body input-group-addon grad">
        <form name="userForm">
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold text-center">{{'Add issue' | translate}}</h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold text-center">{{'Update issue' | translate}}
          </h2>



          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message | translate}}
          </div>

          <div *ngIf="form.error && form.message != ''" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message | translate}}
          </div>





          <div class="form-group">
            <label><b>{{'Title' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i></div>
              </div>

              <input type="text" name="title" [(ngModel)]="form.data.title" class="form-control"
                (ngModelChange)="form.data.title = $event.trim()" maxlength="50" 
                placeholder="{{'title' | translate}}">

            </div>
            <span *ngIf="form.inputerror.title != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.title | translate}}</span>
          </div>






          <div class="form-group">
            <label><b>{{'Description ' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i></div>
              </div>

              <textarea type="text" id="descriptiontext" cols="20" title="description" rows="4" name="description"
                [(ngModel)]="form.data.description" class="form-control"
                (ngModelChange)="form.data.description = $event.trim()" maxlength="100"
                placeholder="{{'description' | translate}}"> </textarea>
            </div>

            <span *ngIf="form.inputerror.description != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.description | translate}}</span>

          </div>






          <div class="form-group">

            <label><b>{{'Status' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
              </div>

              <select class="form-control" name="statusId" [(ngModel)]="form.data.statusId" aria-label="ngSelected">
                <option [ngValue]="" value="undefined">{{'Select status' | translate}}</option>
                <option value="Open">{{'Open' | translate }} </option>
                <option value="In Progress">{{'In Progress' | translate }} </option>
                <option value="Hold">{{'Hold' | translate }} </option>
                <option value="Resolved">{{'Resolved' | translate }} </option>
                <option value="Close">{{'Close' | translate }} </option>

              </select>

            </div>

            <span *ngIf="form.inputerror.statusId != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.statusId | translate}}</span>

          </div>
          



          <div class="form-group">

            <label><b>{{'Assign To' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
              </div>

              <select class="form-control" name="assignToId" [(ngModel)]="form.data.assignToId" aria-label="ngSelected">
                <option [ngValue]="" value="undefined">{{'Select assignTo' | translate}}</option>
                <option *ngFor="let obj of form.preload.assignTOList" [value]="obj.key">{{obj.value}}</option>
              </select>

            </div>

            <span *ngIf="form.inputerror.assignToId != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.assignToId | translate}}</span>

          </div>










          <div class="form-group">
            <label><b>{{'opendate' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-table grey-text"></i></div>
              </div>

              <input type="date" [value]="form.data.opendate |date:'yyyy-MM-dd'"
                (input)="form.data.opendate=parseDate($event.target.value)" class="form-control form-control-sm"
                required />
            </div>

            <span *ngIf="form.inputerror.opendate != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.opendate | translate}}</span>
          </div>























          <div class="row pt-2 pb-3">
            <div class="col-md-3"></div>
            <div class="col-md-3 pt-2">
              <button *ngIf="!form.data.id>0" (click)="onUpload()" class="btn btn-success">{{'Save' |
                translate}}</button>
              <button *ngIf="form.data.id>0" (click)="onUpload()" class="btn btn-success">{{'Update' |
                translate}}</button>
            </div>
            <div class="col-md-3 pt-2">
              <a class="btn btn-warning" [routerLink]="['/issuelist']" style="text-decoration: none; color: white;">
                {{'issue List' | translate}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<app-footer></app-footer>