<app-navbar></app-navbar>
<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .log1 {
    padding-top: 13%;
  }

  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;
  }

  .full-height {
    height: 100vh;
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .btn {
    margin-right: 8px;
  }
</style>

<div class="row 
            full-height 
            centered" 
         style="background: url('assets/files/3.jpg') no-repeat center center;
          background-attachment: fixed;
           background-size: cover;">


  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body input-group-addon grad">
        <form name="userForm">
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold text-center">{{'Add order' | translate}}</h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold text-center">{{'Update order' | translate}}</h2>



          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message | translate}}
          </div>

          <div *ngIf="form.error && form.message != ''" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message | translate}}
          </div>




          <div class="form-group">

            <label><b>{{'product' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
              </div>

              <select class="form-control" name="productId" [(ngModel)]="form.data.productId" aria-label="ngSelected">
                <option [ngValue]="" value="undefined">{{'Select product' | translate}}</option>
                <option *ngFor="let obj of form.preload.productRoleList" [value]="obj.key">{{obj.value}}</option>
              </select>

            </div>

            <span *ngIf="form.inputerror.productId != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.productId | translate}}</span>

          </div>


           <!--  Unique Filed=> (ngModelChange)="form.data.uniqueId = $event.trim()" 
             string=>type="text" (ngModelChange)="form.data.uniqueId = $event.trim()" / appNoNumbers -->
          <div class="form-group">
            <label><b>{{'uniqueId' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i></div>
              </div>

              <input type="text" name="uniqueId" [(ngModel)]="form.data.uniqueId" class="form-control" 
               (ngModelChange)="form.data.uniqueId = $event.trim()"     maxlength="500"  
               placeholder="{{'uniqueId' | translate}}">

            </div>
            <span *ngIf="form.inputerror.uniqueId != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.uniqueId | translate}}</span>
          </div>



             <!-- <textarea type="text"  /id="addrestext" cols="20"    title="address" rows="4" /
                (ngModelChange)="form.data.addres = $event.trim()-->
          <div class="form-group">
            <label><b>{{'Addres ' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i></div>
              </div>
              
              <textarea type="text"  id="addrestext" cols="20"    title="addres" rows="4" name="addrestext" 
              [(ngModel)]="form.data.addres" class="form-control"  (ngModelChange)="form.data.addres = $event.trim()"
                placeholder="{{'addres' | translate}}"> </textarea>
            </div>

            <span *ngIf="form.inputerror.addres != null" class="alertRedColor" style="color: red;">{{form.inputerror.addres | translate}}</span>
         
          </div>


   <!-- MobileNo.=> type="number"/  appMaxLengthNumber="10"  /-->
          <div class="form-group">
            <label><b>{{'Mobile Number' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i></div>
              </div>

              <input type="number" name="mobileNo" [(ngModel)]="form.data.mobileNo" class="form-control" 
                 appMaxLengthNumber="10"      placeholder="{{'MobileNo' | translate}}">
            </div>
            <span *ngIf="form.inputerror.mobileNo != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.mobileNo | translate}}</span>
          </div>


      


<!-- LongFiled=> type="number"   -->
          <div class="form-group" class="addrestext">

            <label><b>{{'longValue' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
               <div class="input-group-prepend">
                <div class="input-group-text"></div>
              </div>

         <input type="number" name="longValue" [(ngModel)]="form.data.longValue" class="form-control" 
         placeholder="{{'longValue' | translate}}"  />
             
            </div>
            <span *ngIf="form.inputerror.longValue != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.longValue | translate}}</span>
          </div>
          


     


<!-- date Filed=> type="date" -->
          <div class="form-group">
            <label><b>{{'dateFiled' | translate }}</b><span class="required-field"></span></label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-table grey-text"></i></div>
              </div>

              <input type="date" [value]="form.data.dateFiled |date:'yyyy-MM-dd'" 
               (input)="form.data.dateFiled=parseDate($event.target.value)"  class="form-control form-control-sm" required />
            </div>

            <span *ngIf="form.inputerror.dateFiled != null" class="alertRedColor" style="color: red;">
              {{form.inputerror.dateFiled | translate}}</span>
          </div>


          <div class="row pt-2 pb-3">
            <div class="col-md-3"></div>
            <div class="col-md-3 pt-2">
              <button *ngIf="!form.data.id>0" (click)="onUpload()" class="btn btn-success">{{'Save' | translate}}</button>
              <button *ngIf="form.data.id>0" (click)="onUpload()" class="btn btn-success">{{'Update' | translate}}</button>
            </div>
            <div class="col-md-3 pt-2">
              <a class="btn btn-warning" [routerLink]="['/orderlist']" style="text-decoration: none; color: white;">
                {{'order List' | translate}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<app-footer></app-footer>
